# dependencies
node_modules

# misc
package-lock.json
.vscode

# temp azure screenshots
*.PNG

# shell script
pg_dump_script.sh

# heroku switch notes
Heroku Postgres Switch Notes.txt

# db Connection config
connectionString.js
