*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 75%; }

@media (max-width: 650px) {
  html {
    font-size: 62.5%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
  color: #1e1e1e;
  background-color: whitesmoke; }
  body input, body select, body textarea {
    font-family: inherit;
    color: inherit; }
  body button {
    font-family: inherit;
    color: #1e1e1e; }

h1 {
  margin-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold; }

p {
  text-align: center; }
