.newTaskForm {
  position: relative;
  width: 95%;
  max-width: 50rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 0.1rem solid #cccccc;
  border-radius: 1rem;
  box-shadow: -0.5rem 0.5rem 0.8rem 0 #c1ccc6;
  background-color: white; }
  .newTaskForm:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 #343a40; }
  .newTaskForm .newTaskForm__titleInput {
    width: 70%;
    font-size: 1.75rem;
    border: none;
    outline: none; }
