.sortBy {
  width: 95%;
  max-width: 50rem;
  font-size: 1.5rem; }
  .sortBy .sortBy__label {
    font-weight: bold; }
  .sortBy .sortBy__dropdown {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
    padding: 0.2rem;
    outline: none; }
  .sortBy .sortBy__button {
    width: 6rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0.6rem;
    background-color: #4d96df;
    border: none;
    border-radius: 0.5rem;
    outline: none; }
    .sortBy .sortBy__button:hover {
      background-color: #1a4679; }
