.task {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.2rem solid #f2f2f2;
  box-shadow: -0.5rem 0.5rem 0.8rem 0 #c1ccc6;
  background-color: white; }
  .task:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 #343a40; }
  .task input, .task select {
    display: block; }
  .task .task__title {
    font-size: 2rem;
    border: none;
    width: 80%; }
  .task .task__desc {
    text-align: left;
    margin: 1.5rem 0;
    padding: 0.8rem;
    border: none;
    width: 90%;
    font-size: 1.5rem; }
  .task .task__completed {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem; }
  .task .task__priority {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 8rem;
    padding: 0.6rem;
    border: none;
    appearance: none;
    font-size: 1.5rem;
    font-weight: bold; }
  .task .task__priority--high {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 8rem;
    padding: 0.6rem;
    border: none;
    appearance: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #bb2525; }
  .task .task__scheduledDt {
    border: none;
    padding: 0.5rem; }
