$colour-grey-dark: rgb(30, 30, 30);

.deleteTaskButton {
  position: absolute;
  background-color: white;
  color: $colour-grey-dark;
  border: none;
  font-size: 1.5rem;
  left: 16rem;
  bottom: 1.5rem;
  outline: none;
}