*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  text-align: center;
}