$colour-cream: rgb(242, 242, 242);
$colour-light-grey: rgb(193, 204, 198);
$colour-white: rgb(255, 255, 255);

.newTaskForm {
  position: relative;
  width: 95%;
  max-width: 50rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 0.2rem solid $colour-cream;
  border-radius: 1rem;
  box-shadow: -0.5rem 0.5rem 0.8rem 0 $colour-light-grey;
  background-color: $colour-white;

  .newTaskForm__titleInput {
    width: 70%;
    font-size: 1.75rem;
    border: none;
    outline: none;
  }
}