$colour-cream: rgb(242, 242, 242);
$colour-light-grey: #C1CCC6;

.newTaskForm {
  width: 100%;
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0.2rem solid $colour-cream;
  box-shadow: -0.5rem 0.5rem 0.8rem 0 $colour-light-grey;

  .newTaskForm__titleInput {
    font-size: 2rem;
    border: none;
    width: 75%;
  }
}