$colour-blue: rgb(77, 150, 223);
$colour-blue-dark: rgb(26, 70, 121);

.newTaskButton {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  margin: 0.5rem;
  padding: 0.6rem;
  font-size: 1.5rem;
  background-color: $colour-blue;
  border: none;
  border-radius: 0.5rem;
  outline: none;

  &:hover {
    background-color: $colour-blue-dark;
  }
}