$colour-blue: rgb(77, 150, 223);
$colour-blue-dark: rgb(26, 70, 121);

.sortBy {
  width: 95%;
  max-width: 50rem;
  font-size: 1.5rem;

  .sortBy__label {
    font-weight: bold;
  }

  .sortBy__dropdown {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
    padding: 0.2rem;
    outline: none;
  }

  .sortBy__button {
    width: 6rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0.6rem;
    background-color: $colour-blue;
    border: none;
    border-radius: 0.5rem;
    outline: none;

    &:hover {
      background-color: $colour-blue-dark;
    }
  }  
}

