$colour-cream: rgb(242, 242, 242);
$colour-light-grey: #C1CCC6;

.task {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.2rem solid $colour-cream;
  box-shadow: -0.5rem 0.5rem 0.8rem 0 $colour-light-grey;

  input, select {
    display: block;
  }

  .task__title {
    font-size: 2rem;
    border: none;
    width: 80%;
  }

  .task__desc {
    text-align: left;
    padding-top: 1.5rem;
    border: none;
    width: 80%;
  }

  .task__completed {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
  }

  .task__priority {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 6rem;
    border: none;
    appearance: none;
  }

  .task__scheduledDt {
    border: none;
  }
}


